.env
.prod.env

.venv/
__pycache__/
session/
token*.json
credentials.json
credentials_prod.json

#Headers y cookies
params.json
params.py

#Primera corrida de gmail
last_sended.txt
sended.json

.ngrok_codes
asesor_i.txt

certs/*
certs/
mysql/

#go API
api/main
api/*.json

#Debug
debug/grafana/*

#pagekite
pagekite.py

#pdfs
app/pdfs
