.env
.prod.env

token*.json
credentials.json
credentials_prod.json

session/

#pagekite
pagekite.py

#Primera corrida de gmail
last_sended.txt
sended.json

.ngrok_codes
asesor_i.txt

certs/*
certs/
mysql/

#go API
api/main
api/*.json

#Debug
debug/grafana/*
