version: "3.7"
services:
  db:
    image: mariadb:10.9.4
    restart: unless-stopped
    env_file: ./.env
    environment:
      - MARIADB_ROOT_PASSWORD=$DB_PASS
      - MYSQL_PASSWORD=$DB_PASS
    ports:
      - $DB_PORT:$DB_PORT
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d #Crear las tablas automaticamente al iniciar
      - ./mysql:/var/lib/mysql #Mantener la misma data de mi base de datos local
    command: mysqld --sql-mode="" #Si no se pone esta opcion al al intentar cargar los property_id que son un UUID los toma con un numero+    
    healthcheck:
      test: ["CMD", 'mysqladmin', 'ping', '-h', 'localhost', '-u', 'root', '-p$$MARIADB_ROOT_PASSWORD' ]
      timeout: 20s
      retries: 10

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    env_file: ./.env
    environment:
      # MB_DB_TYPE: mysql
      # MB_DB_DBNAME: metabase
      # MB_DB_PORT: $DB_PORT
      # MB_DB_USER: $DB_USER
      # MB_DB_PASS: $DB_PASS
      # MB_DB_HOST: db

      MB_DB_TYPE: h2
      MB_DB_FILE: /metabase-data/metabase.db

      # Configuración de aplicación
      MB_SITE_NAME: "Analytics Dashboard"
      # MB_SITE_URL: ${SITE_URL:-http://localhost:3000}
      MB_SITE_LOCALE: es
      # MB_EMBEDDING_SECRET_KEY: ${MB_EMBEDDING_KEY:-your-secret-key-here}
      
      # Rendimiento
      JAVA_TIMEZONE: America/Mexico_City  # Cambia según tu zona
      # JAVA_OPTS: "-Xmx2g -Xms512m"
    volumes:
      # Persistir la BD H2 de Metabase
      - metabase_data:/metabase-data
    depends_on:
      db:
        condition: service_healthy

  mongo:
    image: mongo
    restart: always
    env_file: ./.env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$DB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$DB_PASS
    ports:
      - "27017:27017"

  app:
    depends_on:
      - api
    build: 
      context: ./
      dockerfile: ./app/Dockerfile
    env_file:
      - .env
    ports:
      - "80:80"
    network_mode: "host"
    volumes:
      - ./app/tests:/app/tests
      - ./app/src:/app/src

  api:
    depends_on:
      db:
        condition: service_healthy
      mongo:
        condition: service_started
    build: 
      context: ./
      dockerfile: ./api/Dockerfile
    env_file: ./.env
    environment:
      - HOST=localhost
    ports:
      - $API_PORT:$API_PORT
    network_mode: "host"
    volumes:
      - ./api/actions.json:/go/app/api/actions.json

volumes:
  metabase_data:
