auto_mix_prep==0.2.0
beautifulsoup4==4.13.3
google_api_python_client==2.166.0
google_auth_oauthlib==1.2.1
Jinja2==3.1.6
matplotlib==3.10.1
msal==1.32.0
protobuf==6.30.2
python-dotenv==1.1.0
Requests==2.32.3
selenium==4.31.0
spintax==1.0.4
flask==3.1.0
flask-cors==5.0.1
gunicorn==21.2.0
