name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:    
    uses: Thorque-Software/actions/.github/workflows/rsync.yml@main
    secrets:
      key: ${{ secrets.SSH_PRIVATE_KEY }}
      env-file-content: ${{ secrets.ENV_FILE_CONTENT }}
    with:
      user: ubuntu
      host: ${{ vars.SERVER_HOST }}
      deploy-path: /home/ubuntu/LeadsExtractor
      files: "./app ./api ./messages ./db ./nginx docker-compose.yml"
      script: |
          docker compose down
          docker compose build
          docker compose up -d
